.selected-item{
    background-color: #fec7aa;
}

.episode-number{
    font-size:1.5rem;
}

.episode-title{
    font-size: 1rem;
}

.accordion-button::after {
    background-image: unset !important;
  }
.podcast-date{
    font-size: .8rem;
    color:rgb(85, 85, 85)
}

#podcasts, #hosts{
    max-height: 80vh;
    
    min-width: 21rem;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.pointer{
    cursor: pointer;
}